<mat-toolbar color="primary">
  <span>AllCom</span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="return()">
    <mat-icon>keyboard_return</mat-icon>
  </button>
</mat-toolbar>

<div class = login>
<mat-card class="class-card">
  <div id = logo>
    <img mat-card-image src="../../../assets/logo.png" alt="Cliente">
  </div>
  <mat-card-header>
    <mat-card-title>Ingreso para administradores</mat-card-title>
    <mat-card-subtitle>Revisar reportes según ubicación y cliente
      además de cerrar solicitudes de revisión</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup] = "form" (ngSubmit) = "submitLogin()" class="my-form">
      <mat-form-field class="full-width">
          <mat-label>Nombre de usuario</mat-label>
          <input  matInput  placeholder="Nombre" formControlName="username">
      </mat-form-field>
      <mat-form-field class="full-width">
          <mat-label>Contraseña</mat-label>
          <input  matInput type="password" placeholder="Contraseña" formControlName="password">
      </mat-form-field>
      <mat-card-actions>
        <button type = "submit" mat-raised-button [disabled] = "form.invalid" color="primary">Iniciar sesión</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
</div>

