
<mat-toolbar color = "primary" class = "header">
  <mat-toolbar-row>
    <span id = "allcom">AllCom</span>
    <span class="spacer2"></span>
    <a routerLink="/administrador/reportes" > Reportes</a>
    <span class="spacer"></span>
    <a mat-list-item routerLink="list-item-active"
    routerLink="/administrador/solicitudes"> Solicitudes </a>
    <span class="spacer"></span>
    <a mat-list-item routerLinkActive="list-item-active"
    routerLink="/administrador/cobros"> Cobros </a>
    <span class="spacer"></span>
    <button mat-icon-button (click)="return()">
      <mat-icon>keyboard_return</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
